/* 
Fichero............: ruby.css
Autor..............: (C) GeNeura Team, 2006, 2014
                     Este fichero: J.J. Merelo: jmerelo@geneura.ugr.es
Fecha..............: Marzo 2014
Descripcion........: Hoja de estilo para cursos y tutoriales.
*/

@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);

body { background-color: #ebebeb; }

p {
  color: black;
  font-family:  Raleway, Helvetica, Arial, sans-serif;
  text-indent: 5%;
  margin-right: 5%;
  margin-left: 5%;

}
ul {
  color: black;
  font-family:  Raleway, Helvetica, Arial, sans-serif;
  margin-right: 5%;
  margin-left: 5%;

}

ol {
  background-color: inherit; 
  font-family:  Raleway, Helvetica, Arial, sans-serif;
  margin-right: 5%;
  margin-left: 5%;

}

ul.otro {
  background-color: inherit; 
  font-size:small;
  color: black;
  font-family:  Raleway, Helvetica, Arial, sans-serif;
}

code {
  font-size:1.1em;
  white-space:pre;	
  font-family: Inconsolata;
  background-color: black;
  color: white;
}

code.ejemplo {
  font-size:medium;
  white-space:pre;	
  display: block;
  padding: 2pt;
  background-color: lightYellow;
  color: black;
  border-style: double;
  border-color: #000080;
  border-width: 2pt;
  font-family: Inconsolata,Courier New, Courier;
  text-indent: 0%;
  margin-right: 5%;
  margin-left: 5%;
}

p.ejemplo {
  font-size:medium;
  display: block;
  padding: 2pt;
  background-color: lightYellow;
  color: black;
  border-style: double;
  border-color: #000080;
  border-width: 2pt;
  font-family: Courier New;
  text-indent: 0%;
  margin-right: 5%;
  margin-left: 5%;
}

p.ejpre {
  font-size:medium;
  white-space:pre;
  display: block;
  padding: 2pt;
  background-color: lightYellow;
  color: black;
  border-style: double;
  border-color: #000080;
  border-width: 2pt;
  font-family: Courier New;
  text-indent: 0%;
  margin-right: 5%;
  margin-left: 5%;
}

p.ejercicios {
  font-size:medium;
  padding: 2pt;
  font-family:  Times, serif, Times New Roman;
  background-color: seashell;
  color: black;
  border-style: solid;
  border-color: black;
  border-width: 1pt;
  text-indent: 0%;
  margin-right: 20%;
  margin-left: 8%;

}

div.ejemplo {
  font-size:medium;
  padding: 5px;
  font-family:  Times, serif, Times New Roman;
  background-color: beige;
  color: black;
  border-style: dashed;
  border-color: black;
  border-width: 1pt;
  text-indent: 2%;
  margin-right: 10%;
  margin-left: 10%;

}

div.ejercicios {
  font-size:medium;
  padding: 2pt;
  font-family:  Times, serif, Times New Roman;
  background-color: seashell;
  color: black;
  border-style: solid;
  border-color: black;
  border-width: 1pt;
  text-indent: 0%;
  margin-right: 20%;
  margin-left: 8%;

}

div.ejercicios:before { 
  content: "Ejercicios";
  background-color: lightblue;
  font-size: large
}

div.aclara {
  background-color: white;
  color: black;
  border-style: double;
  border-color: black;
  border-width: 2pt;
  width: 40%;
  float: right;
  padding: 10px;
  margin: 10px;
  font-size: 0.8em;
}

div.nav {
  font-size:medium;
  background-color: lightgray;
  color: black;
  border-style: solid;
  border-color: black;
  border-width: 2pt;
  width: 40%;
  float: right;
  padding: 4px;
}

div.licencia {
  font-size:small;
  background-color: lightblue;
  color: black;
  border-style: dashed;
  border-color: black;
  border-width: 1px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

div.objetivos {
  background-color: white;
  color: blue;
  border-style: double;
  border-color: blue;
  border-width: 2pt;
  width: 60%;
  margin: 0 auto;
  padding: 4px;
}

div.objetivos:before { 
  content: "Objetivos";
  background-color: lightblue;
  font-size: large
}

h1 {font-size:xx-large; font-family:Abril Fatface, Helvetica, sans-serif}
h2 {font-size:x-large; font-family:Abril Fatface, Helvetica, sans-serif}
h3 {font-size:large; font-family:Abril Fatface,, Helvetica, sans-serif}

span.user {
  background-color:yellow;
  font-size:1.2em;
}
